.table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 65%;
  margin-right: 2vw;
  margin-left: 2vw;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
